@use "../../../sassStyles/index" as *;

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    color: $sectionHeader;
}

.logo-container:hover .pre-text {
    opacity: 1;
    transform: translateX(2px);
}

.logo-container:hover .post-text {
    opacity: 1;
    transform: translateX(-2px);
}

.logo {
    width: 100px;
    display: flex;
    justify-content: left;
}

.pre-text,
.post-text {
    opacity: 0;
    font-family: "Koulen", cursive;
    font-size: 4.5rem;
    margin: 0;
    padding: 0;
    transition: opacity 0.8s, transform 0.9s;
    text-align: center;
}

.pre-text {
    transform: translateX(90px);
}
.post-text {
    transform: translateX(-90px);
}
