@use "../../../sassStyles/index" as *;

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 0;
    margin-top: 0;
    color: $sectionHeader;
}

.logo-container:hover .pre-text {
    opacity: 1;
    transform: translateX(30%);
}

.logo-container:hover .post-text {
    opacity: 1;
    transform: translateX(-30%);
}

.logo {
    width: 20%;
}

.pre-text,
.post-text {
    opacity: 0;
    font-family: "Koulen", cursive;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    transition: opacity 0.8s, transform 0.6s;
}

.pre-text {
    transform: translateX(70%);
}
.post-text {
    transform: translateX(-70%);
}
