$background: white;
$text: black;

$sectionHeader: rgb(95, 105, 112);

$shadeColor1: #93e0b1;
$shadeColor2: #62fcbc;
$shadeColor3: #ff00ea;

$logoShade1: #00fff2;
$logoShade2: #ff00ea;

$hoverColor1: rgba(0, 255, 213, 0.3);
$hoverColor2: rgba(255, 0, 200, 0.3);

$shadowColor: rgba(247, 0, 255, 0.6);
